<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @add_email_to_user.email %>
</p>


<%= link_to 'Edit', edit_add_email_to_user_path(@add_email_to_user) %> |
<%= link_to 'Back', add_email_to_users_path %>
